<div class="booking-host-login">
  <h1 class="title">ホストログイン</h1>
  <%= form_tag("/booking/host/login") do %>
    <div class="login-con">
    <input type="password" name="password" class="password"></input><br>
    <input type="submit" value="ログイン" class="login-btn">
    </div>
  <% end %>
</div>