<div class="booking-host-login">
  <h1 class="login-title">ホストログイン</h1>
  <div class="col-12 mt-3 content">
    <%= form_with(url: booking_host_login_path, scope: :session, class: "form") do |f|%>
      <div class="day form-group">
        <%= f.label :password, "パスワード" %>
        <div class="form-box">
          <%= f.password_field :password, class: 'form-control host-form' %>
        </div>
      </div>
      <div class="submit" id="submit">
        <%= f.submit "ログイン", class: "login-btn" %>
      </div> 
    <% end %>
  </div>
</div>