<div class="booking-host-login">
  <h1 class="login-title">ホストログイン</h1>
  <%= form_tag("/booking/host/login") do %>
    <div class="login-con">
      <div class="login-password form-group">
        <p>パスワード</p>
        <div class="form-box login-form-box">
          <input type="password" name="password" class="form-control login-form"></input><br>
        </div>
      </div>
      <div class="login-submit">
        <input type="submit" value="ログイン" class="login-btn">
      </div>
    </div>
  <% end %>
</div>