.host_con {
  margin: auto;
  padding-top: 32px;
}

.host_name {
  font-size: 24px;
}

.host_tell {
  font-size: 24px;
}

.logout-btn {
  font-size: 14px;
  
}

/* newのレイアウト　----------------- */
.host-content {
  margin-top: 14px;
  margin: auto;
  background-color: white;
  color: black;
  width: 560px;
  height: 480px;
}

.host-submit {
  text-align: center;
  padding-top: 4px;
}

@media (max-width:600px) {
  .host-content {
    width: 100%;
    background-color: white;
  }

  .host-login-date {
    font-size:0;
    }
    .host-login-date:before {
    font-size:14px;
    content:'◎';
    }
}